@media screen and (max-width: 640px) and (min-width: 320px) {
#topbar p {
        margin-bottom: 0px;
        font-size: 13px;
    }
.carousel-caption {
    display: none;
}
#nav {
    padding: 0 0em;
    margin-top:0px;
}
#nav .logo img {
    width: 134px;
}
#nav .logo:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: #ffffff;
    filter: blur(20px);
    width: 42%;
    height: 100%;
    z-index: -1;
}
.topnav{
    margin-top: 0px;
}
.topnav a {
    float: left;
    color: #000;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 10px;
    background: #fff;
}
.topnav a.icon {
    float: right;
    color: #000;
    font-size: 35px;
    background: none;
    margin-top: -18px;
}
#about {
    padding: 0em 4em 0 4em;
}
#about .middle {
    padding: 0px;
    justify-content: center;
    display: block;
}
#about .service {
margin-bottom:10px;
}
.welcome h1 {
    font-size:22px;
}
#about .welcome p {
    line-height: 1.5;
    font-size: 14px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
}
.bottom p {
    color: #777d96;
    padding: 2em 0 4em;
}
.tab {
    float: left;
    width: 100%;
    height: auto;
}
.stat {
    margin-bottom:10px;
}
#social .share {
margin:0;
}
#footer {
    padding: 105px 15px;
}
}